:root {
  --color-primary: #3484f7;
  --color-body-bg: #F3F5F9;
  --color-light-blue: #e4f5ff;
  --color-danger: #ff3f3f;
  --color-40-gray: #c9d1d9;
  --color-50-gray: #818e9c;
  --color-60-gray: #4f5f70;

  --font-family-base: 'Poppins', sans-serif;
  --font-size-base: 16px;
  --font-size-lg: 1.25rem;
  --font-size-sm: 0.875rem;

  --default-horizontal-indent: 16px;
}
